.login-container {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-container {
  width: 50%;
  /* background: linear-gradient(135deg, rgb(255, 200, 97), #db7b0d); */
  background-image: url("./../../public/img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-image {
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 40px;
  width: 200px;
  /*margin-bottom: 20px;*/
}

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.login-form {
  width: 80%;
  max-width: 400px;
  text-align: center;
  gap: 12px;
}

.login-form h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0px;
}

.login-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input[type="email"],
.input-container input[type="password"] {
  font-weight: 400;
  border: 1.5px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 16px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  width: 350px;
  color: #494949;
}

.input-container input[type="email"]:focus,
.input-container input[type="password"]:focus {
  border: 1.5px solid #0868de;
}

.remember-me-forgot-password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.remember-me {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #808080;
}

.remember-me input {
  margin-right: 8px;
}

.input-container button {
  background-color: #057c80;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #045b5c;
}

a {
  color: #6c757d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 30px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-with-icon img {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  /* height: 9px - According to Figma */
  color: #808080;
}

.input-with-icon > .show-password img {
  position: absolute !important;
  top: 50% !important;
  right: 20px !important;
  transform: translateY(50%) !important;
  /* width: 16px !important;
  height: 16px !important; */
  /* height: 9px - According to Figma */
  /* color: #808080 !important; */
}

.error-message {
  border: none;
  background-color: white;
  color: #ed0707;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 5px;
  text-align: left;
  padding: 0px;
}

.remember-me > input:nth-child(1) {
  /* appearance: none; */
  border: 1.5px solid #d8d8d8;
  width: 16px;
  height: 16px;
  border-radius: 3.2px;
}

.remember-me > input:nth-child(1):hover {
  cursor: pointer;
  border: 1.5px solid #9b9a9a;
  width: 16px;
  height: 16px;
  border-radius: 3.2px;
}
