body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* SignIn css */
.login-container {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-container {
  width: 50%;
  /* background: linear-gradient(135deg, rgb(255, 200, 97), #db7b0d); */
  background-image: url("./../public/img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-image {
  position: absolute;
  /* align-self: flex-start; */
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  display: inline;
  /*margin-bottom: 20px;*/
}

.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  width: 80%;
  max-width: 400px;
  text-align: center;
  gap: 12px;
}

.login-form h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 15px;
}

.login-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 33px;
  margin-top: 0px;
}

.login-error {
  display: flex;
  align-items: center;
  color: #ed0707;
  background-color: #fff0f0;
  border: 1px solid #ed0707;
  border-radius: 8px;
  padding: 10px 16px;
  margin-bottom: 25px;
  text-align: left;
  font-size: 15px;
  width: 375px;
  height: 40px;
  font-weight: 460;
}

.error-icon-svg {
  /* display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ed0707;
  color: white; */
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input[type="email"],
.input-container input[type="password"] .input-container input[type="text"] {
  font-weight: 400;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 14px 16px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  width: 350px;
  color: #494949;
  transition: border-color 0.2s ease;
}

/* Add this new class for input-specific error messages */
.input-error-message {
  color: #ed0707;
  font-size: 14px; /* Adjust font size as needed */
  font-weight: 455;
  line-height: 16px;
  margin-top: -13px; /* Adjust margin as needed */
  margin-bottom: 20px;
  text-align: left;
  padding: 0px;
  display: block; /* Ensure it takes its own line */
}

/* .input-container input[type="email"]:focus,
.input-container
  input[type="password"]:focus
  .input-container
  input[type="text"]:focus {
  border: 1.5px solid #0868de;
} */

/* Remove default focus outline and use the border instead */
.input-container input:focus {
  outline: none;
  border: 2px solid #0868de;
}

.remember-me-forgot-password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.remember-me {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #303030;
}

.remember-me input {
  margin-right: 8px;
}

.input-container button {
  background-color: #057c80;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  width: 405px;
}

.input-container button:hover {
  background-color: #045b5c;
}

a {
  color: #6c757d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgot-password {
  color: #0868de;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  font-weight: 400;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 14px 16px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  width: 350px;
  color: #494949;
}

.input-with-icon img {
  position: absolute;
  top: 34%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  /* height: 9px - According to Figma */
  color: #808080;
}

.show-password {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.show-password img {
  position: static;
  width: 16px;
  height: 16px;
  transform: none;
}

/* .input-with-icon > .show-password img {
  position: absolute !important;
  top: 50% !important;
  right: 20px !important;
  transform: translateY(50%) !important; */
/* width: 16px !important;
  height: 16px !important; */
/* height: 9px - According to Figma */
/* color: #808080 !important; */
/* } */

.error-message {
  border: none;
  background-color: white;
  color: #ed0707;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: -5px;
  margin-bottom: 12px;
  text-align: left;
  padding: 0px;
}

.remember-me > input:nth-child(1) {
  /* appearance: none; */
  border: 1.5px solid #d8d8d8;
  /* border: 1.5px solid #303030; */
  width: 16px;
  height: 16px;
  border-radius: 3.2px;
}

.remember-me > input:nth-child(1):hover {
  cursor: pointer;
  border: 2px solid #9b9a9a;
  width: 16px;
  height: 16px;
  border-radius: 3.2px;
}

@media (max-width: 946px) {
  .right-container {
    display: none;
  }
  .login-container {
    /* display: block; */
    justify-content: center;
    align-items: center;
  }
}

/* ForgetPassword */
.back-to-login {
  color: #0868de;
  display: block; /* Ensures it takes its own line */
  margin-top: 20px; /* Increases the gap */
  text-align: center;
}

.reset-input-container {
  display: flex;
  flex-direction: column;
}

.reset-input-container input[type="email"],
.reset-input-container input[type="text"] {
  font-weight: 400;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 14px 16px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  width: 350px;
  color: #494949;
  transition: border-color 0.2s ease;
}

.reset-input-container button {
  background-color: #057c80;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  width: 405px;
  margin-bottom: 13px;
}

.reset-input-container button:hover {
  background-color: #045b5c;
}
